/* effects body */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}

body {
    background-color: rgb(0, 0, 0);
}

nav {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    position: fixed;
}

header {
    width: 100vw;
}

footer {
    background-color: rgba(141, 141, 141, 0.7);
    color: rgb(8, 0, 255);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 45px;
}

h4 {
    font-size: 35px;
}

p {
    font-size: 30px;
}

/* ease of use */
.nav-row,
.gallery-row,
.about-row,
.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    padding: 10px;
    margin: auto;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: right;
}

.three>div {
    width: 33%;
    margin: 1%;
}

.two>div {
    width: 50%;
    margin: 1%;
}

.full {
    width: 100%;
}

/* effects certain elements */
nav:hover {
    background-color: white;
    animation-name: fadeIn;
    animation-duration: 2s;

    .nav-bar-link {
        background-color: white;
        color: black;
    }

    .nav-bar-link-contact {
        background-color: black;
        color: white;
    }
}

nav>div {
    display: flex;
    justify-content: space-between;
}

.nav-bar>ul {
    list-style-type: none;
}

.nav-bar-link {
    display: block;
    padding: 10px;
    margin: 5px;
    color: black;
}

.nav-bar-link-contact {
    padding: 18px 40px;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba('0,0,0,-1');
    cursor: pointer;
    font-size: 18px;
    color: aliceblue;
    font-weight: 500;
}

nav>a {
    color: blue;
}

/* header */
.hero-header {
    height: 45em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-header {
    height: 7em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.no-arrows-header {
    height: 6em;
    margin-bottom: 2%;
}

/* carousel */
.img-carousel {
    margin: 1%;
    max-width: 100%;
    width: 100%;
}

.text-carousel {
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-carousel>img:hover {
    cursor: pointer;
}

/* footer */
.links-footer {
    padding: 6px;
}

.footer-link {
    margin: 15px;
    color: black;
}

footer>div {
    display: flex;
    justify-content: space-between;
}

/* effects only that element */
/* index */
.hero-text {
    color: white;
    font-size: xx-large;
    font-weight: 800;
    width: 75%;
    padding: 10px;
    margin: auto;
}

#indexHeader {
    background-image: url(/images/specials/fireworks/red-circle.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.information {
    width: 50%;
    margin: 15px auto;
    padding: 10px;
}

#index-sect-information {
    text-align: center;
}

.index-heroText {
    height: 50vh;

    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.index-heroText>a {
    color: white;
    background-color: rgba(68, 62, 62, 0.5);
    box-shadow: 0 0 10px;

    font-size: 50px;
    padding: 5px;
    margin: 1px;

    cursor: pointer;
}

.index-heroText>a:hover {
    background-color: rgba(107, 97, 97, 0.5);
}

#group-photo-heroPic {
    background-image: url(/images/people/group/adults-kids-waterfall.jpg);
}

#couple-photo-heroPic {
    background-image: url(/images/people/couple/whiteShirt-bridge.jpg);
}

.textbox {
    background-color: rgb('245, 222, 179, 0.4');
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px;
    font-size: 18px;
    color: aliceblue;
    font-weight: 500;
}

.textbox>p {
    padding: 1px 40px;
}

.textbox>h3 {
    padding: 18px;
}

#expectations {
    background-image: url(/images/people/Personal/David-Susan.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.experience {
    text-align: center;
    width: 65%;
    margin: auto;
}

.gallery-index {
    justify-content: space-between;
}

/* about me */
#aboutMeHeader {
    background-image: url(/images/specials/band/clossup-bass.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#about,
.about-sect {
    background-color: black;
    padding: 5px;
}

.about-input {
    color: #f1f1f1;
    font-weight: 600;
    padding: 15px;
}

.about-me-input {
    padding: 1.5%;
    width: 100%;
}

.about-img-art {
    max-width: 60%;
    width: 50%;
    margin: auto;
    padding: 20px;
}

.about-img-art>div {
    background-color: azure;
    border: 5px solid azure;
    border-radius: 15px;
    box-shadow: 1px 1px 1px azure;
}

.about-img-art>.img {
    width: 100%;
}

.gallery-column {
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display: none;
}

.gallery:after {
    content: "";
    clear: both;
}

.about-img-art div {
    overflow: hidden;
}

.about-img-art img {
    min-width: 100%;
    height: 100%;
}

.about-img-art .short {
    grid-row: span 1;
}

.about-img-art .tall {
    grid-row: span 2;
}

.about-img-art .big {
    grid-column: span 3;
    grid-row: span 2;
}

.show {
    display: block;
}

/* gallery */
#gallery-body {
    background-image: url("/images/specials/fireworks/red-circle.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.content {
    margin: auto;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    cursor: pointer;
    padding: 7px;
    border: 5px ridge;
    width: 120px;
}

.btn-container>a {
    color: rgb(0, 0, 0);
}

.gallery-img {
    height: 50%;
    width: 100%;
    padding: 1px;
}

.gallery-main {
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 15px;
}

.gallery-main>div {
    background-color: azure;
    border: 5px solid azure;
    border-radius: 15px;
    box-shadow: 0 0 10px;
}

.gallery-main>.img {
    width: 100%;
}

.gallery-column {
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display: none;
}

.gallery:after {
    content: "";
    clear: both;
}

.gallery-main div {
    overflow: hidden;
}

.gallery-main img {
    min-width: 100%;
    height: 100%;
}

.gallery-main .short {
    grid-row: span 1;
}

.gallery-main .tall {
    grid-row: span 2;
}

.show {
    display: block;
}

/*  */

/* contacts */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    cursor: pointer;
    opacity: 0.9;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 175px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

textarea,
.form-container input[type=text],
.form-container input[type=name] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container>h3 {
    color: black;
}

/* FAQ */

/* other styling */

/* keyframes */

@keyframes fadeIn {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

/* mobile */
@media only screen and (max-width: 950px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    .index-heroText {
        background-position: center;
    }

    .left,
    .right {
        width: 100%;
        float: none;
    }
}

@media only screen and (max-width: 650px) {
    .gallery {
        grid-template-columns: 1fr;
        max-width: 400px;
    }
}

@media only screen and (max-width: 800px) {

    /* effects everything */
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 17px;
    }

    /* headings */
    .gallery-header {
        height: 8em;
    }

    /* nav */
    nav {
        display: flex;
        justify-content: space-evenly;
        background-color: rgba(247, 247, 247, 0.925);
    }

    nav>div {
        display: flex;
        flex-direction: column;
    }

    nav>ul {
        display: flex;
    }

    .nav-bar-image {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* footer */
    .copyright-footer,
    .symbol-footer {
        opacity: 0;
        font-size: 0;
    }

    /* ease of use */
    .row {
        display: flex;
    }



    .three>div {
        width: 95%;
        margin: 1%;
    }

    /* img carsousels */
    .img-carousel {
        width: 100%;
    }

    /* index */
    .index-heroText {
        background-position: center;
    }

    .index-heroText>a {
        font-size: 25px;
    }

    #expectations {
        display: flex;
        flex-direction: column;
    }

    #experience {
        display: flex;
        margin-right: 25px;
    }

    .about-me-sect {
        display: flex;
        flex-direction: column;
    }

    .solo-img {
        width: 0;
    }

    .gallery-text {
        opacity: 0;
    }

    .about-me-sect {
        width: 95%;
    }

    #experience-index {
        width: 100%;
    }

    /* about */


    /* gallery */
    .img-carousel>.row {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin: auto;
    }

    .gallery-img:hover {
        width: 100%;
    }

    .gallery-img:active {
        position: absolute;
        width: 100%;
        transform: translate(-39px);
    }

    .btn {
        width: fit-content;
    }
}